# Ignore build results
**/[Bb]in
**/[Oo]bj

# Ignore Visual Studio Code
**/.vscode

# Ignore Visual Studio
**/.vs

# NuGet Packages
# The packages folder can be ignored. Use package restore
**/packages/*

# Ignore user-specific files
*.suo
*.user

# Ignore directory meta info as created by KDE
.directory

# Ignore JetBrains Rider / IntelliJ IDEA meta info
.idea

# Ignore swap files
*.swp
